@import "@blueprintjs/core/lib/scss/variables";

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: $pt-app-background-color;
}

.bms-collapse{
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    width: 100% !important;

    .bms-collapse-row{
        text-align: left;
        flex-grow: 1;

        .bms-collapse-row-label{
            padding: 10px;
            border-bottom: 1px solid #e6ebf1;
            text-align: left;
            font-size: 14px;

            label{
                margin-bottom: 0;
            }
        }

        label[class*="pt-icon-"]::before{
            font-size: 14px;
        }

        .bms-collapse-row-content{
            padding: 10px;
            border-bottom: 1px solid #e6ebf1;
            background-color: $pt-app-background-color;
        }
    }

    .bms-collapse-row:first-child .bms-collapse-row-label{
        border-top: 1px solid #e6ebf1;
    }

    .bms-collapse-row:last-child{
        .bms-collapse-row-label{
            border: none;
        }
        .bms-collapse-row-content{
            border-top: 1px solid #e6ebf1;
            border-bottom: none;
        }
    } 
}