@import "@blueprintjs/core/lib/scss/variables";
$header-height: 35px;

.logs__wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $pt-app-background-color;
    color: $dark-gray3;

    .logs__toolbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        background: white;
        border: 1px solid rgba(16,22,26,.15);
        border-top: 0;
        height: 40px;
    }
}
.logs__content{
    padding: 10px;
    height: calc(100% - 40px);

    section{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: white;

        header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            width: 100%;
            height: $header-height;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border: 1px solid rgba(16,22,26,.15);
            // border-bottom: 0;
            box-shadow: 0 1px 0 rgba(16,22,26,.15);
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
            font-variant: small-caps;
            font-weight: bold;
            font-size: 1.1em;

            .logs__text{
                margin-left: 10px;
            }
            
            div.per-page__wrapper{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: normal;

                span{
                    margin: 0 3px 0 5px;
                }
            }
        }

        .table__wrapper{
            overflow: hidden !important;
            border-bottom-left-radius: 3px !important;
            border-bottom-right-radius: 3px !important;
            height: 100% !important;
            border: 1px solid rgba(16,22,26,.15) !important;
            border-top: 0 !important;
    
            &:focus{
                outline: none !important;
            }
        }

        .table__header{
            color: $dark-gray3 !important;
            font-size: 14px !important;
            line-height: 1 !important;
            background-image: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,0)) !important;
            background-color: #f5f8fa !important;
            border: none !important;
            font-weight: bold !important;
            font-variant: small-caps;
        }

        .table__cell{
            border: none !important;
        }

        .table__sort__header{
            cursor: pointer;
        }

        .fixedDataTableCellLayout_main:last-child{
            border-right: 0 !important;
        }
    }
}