.bms-sidebar-menu {
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    width: 100% !important;
}

.bms-sidebar-menu-item {
    //flex-grow: 1;
}

.bms-sidebar-menu-item a {
    display: flex;
    justify-content: start;
}